@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('modal.css');

@import url('board-game.css');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background: #e4c515;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
